<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">My Skills</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3">
            <canvas id="{{ site.data.index.skills.id }}" height="500" width="500"></canvas>
        </div>
        <div class="col-lg-1"></div>
        <script>
        var ctx = document.getElementById("{{ site.data.index.skills.id }}");
        var data = {
            labels: "{{ site.data.index.skills.aspects }}".split(","),
            datasets: [{
                label: "{{ site.data.index.skills.label }}",
                backgroundColor: "rgba(179,181,198,0.2)",
                borderColor: "#3385FF",
                pointBackgroundColor: "#3385FF",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#3385FF",
                pointHoverBorderColor: "#3385FF",
                data: [{{ site.data.index.skills.percentage }}]
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    responsive: true,
                    ticks: {min: 0, max: 100},
                    lineArc: false,
                    pointLabels: {fontSize: 14},
                },
                legend: {display: false},
            }
        });
        </script>
    </div>
</div> -->

      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

        <div class="three columns header-col">
           <h1><span>Technical Skills</span></h1>
        </div>

        <div class="nine columns main-col">

           <p>
              - Experience with relational data warehouse and fluent in SQL <br>
              - Experience with data visualization tools Tableau and Power BI, and Python packages Matplotlib, Plotly and Bokeh <br>
              - Experience with programming languages Python and R <br>
              - Knowledge of ML Algorithms including supervised and unsupervised learning, deep learning modules, and text analytics <br>
              - Exposure to ML frameworks such as Scikit-learn, Spark ML, TensorFlow <br>
              - Proficiency working in Linux/Unix environment (e.g. command-line tools, shell scripting) <br>
              - Experience with data warehouse technologies such as SQL Server and SAS (SAS Base Certification) <br>
              - Exposure to big data tools and technologies such as Hadoop, Hive, Spark <br>
           </p>

        <!DOCTYPE html>
        <html>
        <head>
        <style>
        * {
           box-sizing: border-box;
        }
           
        .column {
           float: left;
           width: 25%;
           padding: 5px;
        }
           
        /* Clearfix (clear floats) */
        .row::after {
        content: "";
        clear: both;
        display: table;
        }
        </style>
        </head>
        <body>
           
        <div class="row">
           <div class="column">
              <img src="static/assets/img/technical_skills/mysql.png" alt="SQL" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/technical_skills/tableau.png" alt="Tableau" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/technical_skills/Python.png" alt="Python" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/technical_skills/Python.png" alt="R Language" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/technical_skills/Python.png" alt="SAS" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/Scikit-Learn.png" alt="Scikit-Learn" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/Tensorflow.png" alt="Tensorflow" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/spark-logo-hd.png" alt="Spark" width="50" height="50">
           </div>
           <div class="column">
              <img src="static/assets/img/hadoop-300x293.png" alt="Hadoop" width="50" height="50">
           </div>
        </div>
           
        </body>
        </html>

           </div> <!-- main-col end -->

     </div> <!-- End skills -->

  <p class="scrolldown">
     <a class="smoothscroll" href="#portfolio"><i class="icon-down-circle"></i></a>
  </p>


  </section> <!-- Resume Section End-->
